<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">Social<span style="color: blueviolet;">Network</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/social">Social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/channel">Channel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/activity">Activity</a>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle shadow rounded-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mara Karma
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="/home">Home Page</a></li>
              <hr/>
              <li><a class="dropdown-item" href="/login">Logout</a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </nav>